*{
  padding: 0;
  margin: 0;
}
body{
  width: 960px;
  vertical-align: middle;
  margin: auto;
} 
#banner >img{
  margin-top: 15px;
  float: left;
  margin-right: 15px;
  height: 40px;
  width:50px;
  }
#sub{
  display: inline;
  padding-left: 30px;
  font-size: 40px;
  font-weight: bolder;
} 
.menu{
	display: none;
}

.float-text{
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.img-float{
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  
}
.head-image{
  width: 100%;
}
.title{
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 5px 10px -5px gray;
 }
.list{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: royalblue;
}
.topic{
  padding: 15px;
  list-style-type: none;
  padding-left: 100px;
	padding-right: 50px;
	padding-bottom: 30px;
  padding-bottom: 20px;
  font-size: 20px;

}
data {
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
    height: 60px;
    color: #404040;
}
.top{
	float: left;
	width: 50%;
}
.same-line{
	float: right;
	width:50%;
	text-align: right;
	font-weight: normal;
  font-size: 20px;
}
.line{
  display: flex;
	flex-direction: column;
  width: 100%;
}
.news-line{
  padding-bottom: 15px;
	padding-top: 15px;
	box-shadow: 0 5px 10px -5px gray;
}
table{
	margin-top: 10px;
	color: gray;
	width: 100%;
}
table th{
	padding-top: 20px;
	padding-bottom: 20px;
}
table td{
	padding-top: 10px;
	padding-bottom: 10px;
}
.team{
	text-align: center;
	color: #303030;
}
.score1{
	text-align: right;
	color: #303030;
}
.score2{
	text-align: center;
	color: #303030;
}
.day{
	color: #303030;
}
.weather-first{
  margin-top: 80px;
}
.weather-second{
  display:flex;
  flex-direction: row;
  text-align: center;
	font-size: 25px;
	width: 100%;

}
.climate{
  display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.climate img{
  width: 170px;
  height: 170px;
}

.news{
  padding-bottom: 22px;
	padding-top: 22px;
}
.news h3{
	margin-top: 0;
}
.wrapimage{
	padding-right: 20px;
	height: 140px;
	width: 220px;
}
.news-update{
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	width: 100%;
	color: #404040;
	padding-top: 25px;
	box-shadow: 0 4px 2px -2px gray;
}
.bottom-view{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 20px;
}
.uas{
  font-size: 15px;
  padding-right: 10px;
  padding-right: 10px;
}

.sub-bot{
	padding-left: 80px;
	padding-right: 80px;
	color: grey;
	font-size: 15px;
}



/* medium screen*/
@media screen and (max-width: 800px){
	body{
		max-width: 600px;
  }
  .list{
    width: 100%;

  }
  .title{
		position: relative;
		padding-top: 10px;
  }
  #banner{
		margin-right: 580px;
    height: 5px;
    width: 10px;
  }
  #sub{
    font-size: 20px;
  }
  .topic{
    padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 13px;
		padding-bottom: 13px;
		font-size: 12px;
  }
  .img-float{

    height: 60%;
    width: 60%;
    font-size: 12px;
		
  }
  .head-image{
    height:164px;
  }
  .weather-first{
		font-size: 70%;
		padding-left: 10px;
		margin-top: 0;
	}
	.weather-second img{
		width: 40%;
		height: 40%;
	}	

	.weather-second h3{
		margin-bottom: 0;
		text-align: center;
  }
  .climate{
		width: 100%;
		height: 100%;
		font-size: 10px;	
	}	
	.climate img{
		width: 40px;
		height: 40px;
		padding: 0;
	}	

	.climate-first{
		width: 100%;
  }
  .data{
		font-size: 15px;
	}
	.news-line{
		font-size: 15px;
	}
	table, th, td, tr{
		border:0px solid grey;
		margin:0;
  }
  table{
    border-collapse: collapse;
  }
  .list3{
		background:white; 
	}
	.list2{
		background-color: grey;
		color: white;
	}
 .box {
		display: flex;
    	flex-wrap: wrap;
    	flex-direction: row;
  }

  .box :nth-child(1)  {  order: 1; }
	.box  :nth-child(2) { order: 2; }
	.box  :nth-child(3) { order: 3; }
  .box  :nth-child(4) { order: 4; }
  .box  :nth-child(5) { order: 1; }

}

/* small screen */
@media screen and (max-width: 500px){
	body{
		width: 350px;
		margin: auto;
  }
	.title{
    display: none;
		display: flex;
    flex-direction: row;
		justify-content: center;
		box-shadow: 0 5px 10px -5px grey;
		display:inline-block;
	}
	#banner{
		margin-right:320px;
		width:2px;
		display:inline-block;
  }
  #sub{
		font-size: 10px;
		display:inline-block;
		margin-left: 30px;
		padding-top: 20px;
	}
   .list{
		display: flex;
		flex-direction: row;
		justify-content: center;
		font-weight: bold;
		width: 300px;
	}
	.topic{
		display: none;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		padding-bottom: 3px;
		color: grey;
		font-size: 10px;

	}
	.img-float{
		padding-top: 5px;
    float: left;
		position: relative;
    color: white;
    width:100%;
    height: 200px;
    max-height:  150px;
		font-size: 12px;
	}
	.float-text {
	  position: absolute;
	  bottom: 0px;
	  text-align: left;
	  padding-left: 10px;
	  font-size: 10px;
	  background-color: black;
  }
  .head-image{
    width:100%;
  }
	.data{
		box-shadow: 0 5px 10px -5px grey;
		width: 100%;
		height: 30px;
		color: grey;
		padding-bottom: 10px;
	}
	.top{
		float: left;
		width: 50%;
		font-size: 15px;
	}
	.same-line{
		float: right;
		width:50%;
		text-align: right;
		font-weight: normal;
		font-size: 15px;
	}

	.line{
		display: flex;
		flex-direction: column;
		width: 100%;
		color: grey;
		font-size: 10px;
	}
	.news-line{
		padding-bottom: 7px;
		padding-top: 7px;
		box-shadow: 0 5px 10px -5px gray;
	}

	table{
		margin-top: 5px;
		color: grey;
		width: 100%;
		margin-top: 20px;	
	}
	table th{
		padding: 5px;
		background-color: lightskyblue;
	}
	table td{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.team{
		text-align: center;
		color: grey;
	}
	.score1{
		text-align: right;
		color: grey;
	}
	.score2{
		text-align: center;
		color: grey;
	}
	.day{
		color: grey;
	}
	.weather-second{
		display: flex;
		flex-direction: row;
		text-align: center;
		font-size: 10px;
		width: 100%;
	}
	.climate{
		display: flex;
		flex-direction: row;
		text-align: center;
		justify-content: center;
		width: 100%;
	}

	.climate-first{
		width: 100%;
	}

	.news{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.news h3{
		margin-top: 0;
	}
	.wrapimage{
		padding-right: 10px;
		height: 100px;
		width: 150px;
	}
	.news-update{
		display: flex;
		flex-direction: coloumn;
		width: 100%;
		color: grey;
		padding-top: 10px;
		box-shadow: 0 5px 10px -5px grey;
		font-size: 10px;
  }
  .bottom-view{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
	}
	.menu{
		padding-left: 90px;
		padding-top: 15px;
		 width: 20px;
    height: 29px;
		float: right;
		display:inline-block;

	}

  .sub-bot{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Rubik', sans-serif;
    color: #505050;
    font-size: 11px;
  }
  .box{
    display: flex;
    flex-direction: column;
  }
.box :nth-child(1) { order: 1; }
.box :nth-child(2) { order: 2; }
.box :nth-child(3) { order: 3; }
.box :nth-child(4) { order: 4; }
.box :nth-child(5) { order: 5; }
.bottom{
  padding-top: 40px;
}
}
